# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.manifest
*.spec

# --- Environnements virtuels ---
.venv/
venv/
.env

# --- Outils ---
.DS_Store
.idea/
.vscode/

# --- Sorties générées ---
*.png
*.svg
*.pdf
